body{
    background: -webkit-linear-gradient(left, rgba(222, 213, 170, 1) 35%, rgba(198, 219, 179, 1) 65%, rgba(175, 223, 196, 1));
    background: linear-gradient(to right, rgba(222, 213, 170, 1) 35%, rgba(198, 219, 179, 1) 65%, rgba(175, 223, 196, 1));

    font-family: 'Noto Sans JP', sans-serif;
    margin: 5% 10% 0% 10%;
}
section{
    margin: 0px 100px 0px 100px;
}

/* Table styles */
h1{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    height:50px;
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height: 500px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 12px 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 500;
    font-size: 16px;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
.made-by {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 12px;
    font-family: arial;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

/* file input box design */
.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 200px;
    color: #999999;
    margin-bottom: 5px;
}
.filebox label {
    display: inline-block;
    cursor: pointer;
    margin: 0px 0px 5px 10px;
    padding: 10px 20px 0px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #3e8bff;
    font-size: 0.95em;
    height: 33px;
    border-radius: 2.5em;
    transition: 0.2s;
}
.filebox label:hover {
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}